$color-white: #ffffff;
$color-black: #000000;
$color-gray: #D9D3CF;
$color-gray-2: #969290;
$color-gray-3: #605751;
$color-brown: #F7F4F2;
$color-brown-2: #4A4A4A;

$color-title: $color-black;
$color-text: $color-brown-2;
$color-bg-primary: $color-white;
$color-bg-secondary: $color-brown;
$color-border-input: $color-gray;
$color-placeholder: $color-gray-2;
$color-label: $color-gray-3;